In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
dataset=pd.read_csv('insurance_pre.csv')
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [6]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [7]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [8]:
indep=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dep=dataset['charges']

In [9]:
from sklearn.ensemble import RandomForestRegressor

In [11]:
from sklearn.model_selection import GridSearchCV
param_grid = {'criterion':['mse','mae'],
'max_features': ['auto','sqrt','log2'],
'n_estimators':[10,100]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1)
# fitting the model for grid search
grid.fit(indep, dep)

C:\Rexline\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 3 folds for each of 12 candidates, totalling 36 fits

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   20.8s
[Parallel(n_jobs=-1)]: Done  36 out of  36 | elapsed:   26.3s finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [12]:
re=grid.cv_results_
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'mse', 'max_features': 'log2', 'n_estimators': 100}:

In [13]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.244654,0.010236,0.021321,1.246534e-03,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.829521,0.825139,0.809212,0.821291,0.008726,8
1,0.556414,0.038974,0.029318,2.053392e-03,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.840586,0.828905,0.818798,0.829430,0.008903,5
2,0.044641,0.001698,0.006663,4.718203e-04,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.830337,0.822947,0.813768,0.822351,0.006777,7
3,0.429084,0.041495,0.031316,1.884470e-03,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.841884,0.833695,0.814309,0.829963,0.011562,4
4,0.051302,0.004027,0.006997,8.162427e-04,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.819343,0.809374,0.796750,0.808489,0.009245,11
5,0.469731,0.019293,0.026319,2.622935e-03,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.846131,0.839455,0.816528,0.834038,0.012678,1
6,0.335137,0.009875,0.005998,5.619580e-07,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.823610,0.818079,0.812750,0.818146,0.004434,9
7,3.224490,0.009871,0.028319,2.866615e-03,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.827716,0.833409,0.818011,0.826378,0.006357,6
8,0.243187,0.053250,0.005664,4.708648e-04,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.827716,0.799121,0.791210,0.806016,0.015681,12
9,1.886255,0.077348,0.025653,1.885369e-03,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.839691,0.833719,0.817375,0.830262,0.009433,3
10,0.186226,0.005731,0.005997,4.899036e-07,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.820207,0.820711,0.793917,0.811612,0.012514,10
11,1.721022,0.310996,0.020989,4.318672e-03,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.841012,0.837449,0.818778,0.832413,0.009751,2

In [14]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:32
BMI:22
Children:1
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [15]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[18264.5429738]